html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/*****************************/
/* Colours Used In This Website */
/*****************************
Marine #042259
Water Blue #1D81CC
Pale Rose #F5C8CF
Pale Grey #F0F5FF
Light Pink #FCDDE2
Darker Grey #1F2022
*/


/* Adding in our fonts and root sizing */
html {
    font-family: 'Emblema One', cursive;
    font-size: 125%;    /* default font size ~20px */
}

/* Adding in our wrapper styling properties */
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
}

/* Styling to remove list dots */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Keep visited links the same colour */
a:visited {
    color: inherit !important;
}

/*****************************/
/* Styling header element */
/*****************************/
header {
    height: 100vh;
    padding: 10px 0;

    /* background image fallback */
    background-color: #F5C8CF;
    background-image: url(./assets/header-group-appliances.png);

    /* background image we want, if browser can handle it */
    background-image: url(./assets/header-group-appliances.png), linear-gradient(to right, #F5C8CF, #FCDDE2);

    background-repeat: no-repeat;
    background-position: bottom right;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

header .title {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

h1 {
    font-size: 6rem;
    line-height: 5rem;
    color: #1D81CC;
    text-transform: uppercase;
    margin: 0;
}

p {
    font-family: 'Barlow', sans-serif;
}

header p {
    font-size: 1.75rem;
    letter-spacing: 0.25rem;
    margin: 0;
}

/*****************************/
/* Targeting navigation/buttons */
/*****************************/
nav ul {
    color: #042259;
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    justify-content: right;
}

nav a {
    font-family: 'Catamaran', sans-serif;
    display: inline-block;
    width: 100%;
    font-size: 0.9rem;
    padding: 0px 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

/*****************************/
/* Targeting social media icons/links */
/*****************************/
.social-media {
    color: #1D81CC;
    position: absolute;
    right: -10%;
    top: 10%;
}
.social-media ul {
    display: flex;
    flex-direction: column;
}

.social-media li {
    padding: 20px 0px;
    margin: 0px;
}

/*****************************/
/* Styling the blog section */
/*****************************/
.blog {
    padding: 20px 0px;
    margin: 0px;
    background-color: #FCDDE2;
}

.blog h2 {
    color: #1D81CC;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

/*****************************/
/* Styling the gallery elements */
/*****************************/
.gallery {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.gallery ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery li {
    flex-basis: 32%;
    margin-bottom: 20px;
}

.gallery img {
    max-width: 100%;
    display: block;
    height: auto;
}

.blog-entry {
    display: flex;
    padding: 0px;
    margin: 0px;
    border: 5px solid grey;
}

/*****************************/
/* Styling the Articles */
/*****************************/
.articles {
    padding: 20px 0px;
    margin: 0px;
    border: 5px solid red;
}

.article-stub {
    display: flex;
    background: #F0F5FF;
    padding: 0px;
    margin: 0px;
    border: 5px solid grey;
}

.image-container,
.text-container {
    flex-basis: 50%;
}

.text-container {
    margin-left: 30px;
    border: 2px solid green;

/*****************************/
/* Styling the About section */
/*****************************/
section {
/*    padding: 100px;*/
}

.about {
    background: #28323C;
}

.about .wrapper {
    display: flex;
}

.about h2 {
    margin-top: 0;
}

/*****************************/
/* Styling the footer */
/*****************************/
footer {
    background-color: #28323C;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 20px 0;
}

/*****************************/
/*****************************/
/* Media queries */
/*****************************/
/*****************************/
@media (max-width: 768px) {

    header .wrapper {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .about .wrapper {
        flex-direction: column;
        text-align: center;
    }

    .image-container {
        margin-bottom: 40px;
    }

    .gallery ul {
        flex-direction: column;
        align-items: center;
    }

    .gallery li {
        margin-bottom: 20px;
    }
}